
.text-area {
    -fx-background-color: rgba(53,89,119,0.4);
}
/* 
.button {
  -fx-background-color: green;
}
 */

.button1{
    -fx-text-fill: #006464;
    -fx-background-color: #DFB951;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
}

.datanode {
  -fx-border-width: 1;
  -fx-background-color: yellow;
	-fx-border-color: green; 	
}
.text-area .scroll-pane {
    -fx-background-color: rgba(53,89,119,0.4);
}

.text-area .scroll-pane .viewport {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content {
    -fx-background-color: transparent;
}

.drawpane {
	-fx-border-width: 2px; 
	-fx-border-color: green; 	
}

.fatLine {
	-fx-stroke-width: 8px; 
	-fx-stroke: green; 	
}
.dragLine {
	-fx-stroke-width: 3px; 
	-fx-stroke: blue; 	
}
.thinLine {
	-fx-stroke-width: 1px; 
	-fx-stroke: green; 	
}
.edgeLine {
	-fx-stroke-width: 1px; 
	-fx-stroke: black; 	
}

.selectedLine {
	-fx-stroke-width: 6px; 
	-fx-stroke: pink; 	
}

.anchor {
	-fx-background-color:  red; 
	-fx-stroke: brown; 	
	-fx-stroke-width: 3px; 
}

.node-annotation {
	-fx-background-color:  transparent; 
	-fx-stroke: brown; 	
}

.custom-dashed-border {
        -fx-border-color: blue ;
        -fx-border-width: 5 ; 
        -fx-border-style: segments(10, 15, 15, 15)  line-cap round ;
    }
    
.double-border {
  display: block;
  clear: both;
  background: white;
  height: 10px;
  width: 10px;
}